@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Spectral";
}
header {
  display: flex;
  position: fixed;
  gap: auto;
  width: 100vw;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header ul a {
  font-size: 36px;
  text-decoration: none;
  color: white;
}

section {
  height: 100vh;
}
.container-banner {
  background-image: url(../assets/images/Banner.png);
}
