@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*{
    margin: 0;
    padding: 0;
    background-color: #100102;
    color: white;
    box-sizing: border-box;
    font-family: "Spectral";
}

header {
  display: flex;

  gap: auto;
  width: 100vw;
  justify-content: space-between;
  

  padding: 0 15px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header ul a {
  font-size: 36px;
  text-decoration: none;
  color: white;
}



p{
    font-size: 24px;
    
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1{
    align-self: flex-start;
    margin-left: 10%;
}

.container-sobre-mim{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center ;
    width: 70%;
    align-items: center;
}
.container-sobre-mim .icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-sobre-mim .icone img{
    height: 300px;
}
.container-sobre-mim .container-texto{
    display: flex;
    flex-direction: column;
    border-left: solid 4px #A11D1D;
    padding-left: 15px;
}
.container-sobre-mim .container-texto .icones{
    display: flex;
    align-items: center;
    gap: 5px    ;
    border-radius: 150px;
}
.container-sobre-mim .container-texto .icones img{
    height: 35px;
}