* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
}

/* =====TELA BATALHA ===== */
.telaBatalha {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* =====TELA BATALHA ===== */
/* ==== ZAGREUS ==== */
.telaBatalha .zagreus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.telaBatalha .zagreus-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
}

.telaBatalha .zagreus-status img {
  height: 300px;
}
.telaBatalha .zagreus-status .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.telaBatalha .zagreus .botoes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.telaBatalha .zagreus .botoes img {
  height: 100px;
}
/* ==== ZAGREUS ==== */

/* ==== STATUS CORRIDA ===== */
.status-corrida {
  display: flex;
  gap: 20px;
}
.status-corrida div {
  display: flex;
}
/* ==== INIMIGOS ===== */
.inimigo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.inimigo .ataque-inimigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 10px 0;
}
.inimigo .ataque-inimigo div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inimigo .ataque-inimigo img {
  height: 100px;
  width: 100px;
}
.inimigo img {
  width: 210px;
}
.inimigo .status-inimigo {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid;
}
/* ==== INIMIGOS ===== */

#div_portas {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.porta {
  display: flex;
  flex-direction: column;
}
.porta img {
  height: 100px;
}

.boons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
