* {
  margin: 0;
  padding: 0;
}

.zagreus img {
  height: 300px;
}

body {
  display: flex;
  height: 100vh;
}

.telaBatalha {
  width: 100%;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.telaBatalha .zagreus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.telaBatalha .zagreus img {
  border: solid;
}
.telaBatalha .zagreus .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.telaBatalha .zagreus button {
  height: 130%;
}
.telaBatalha .zagreus button img {
  height: 100px;
  border: none;
}

.inimigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inimigo img {
  width: 210px;
}
.inimigo .status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#div_portas {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.porta {
  display: flex;
  flex-direction: column;
}
.porta img {
  height: 100px;
}

.boons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
