@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Espectre";
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  overflow: hidden; 
  background-image: linear-gradient(45deg, black, #3e3e3e);
}
.left-bar {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-image: linear-gradient(45deg, black, #730302);
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.left-bar img {
  width: 90%;
}
.left-bar div {
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: 20px;
}
.left-bar div a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 0 10px;
}

.left-bar div a:hover {
  transform: scale(1.03);
  filter: brightness(1.3);
  background-color: black;
}
.left-bar button {
  /* width: 150px; */
  font-weight: bold;
  /* height: 80px; */
  background-color: #d9d9d9;
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-size: 30px;
  color: #000000;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.left-bar button:hover {
  transform: scale(1.03);
  filter: brightness(1.3);
}

/* ============================ */

.container {
  color: white;
  gap: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  /* background-color: #3e3e3e; */
}
.container .container-top {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.container .container-top .profile {
  gap: 15px;
  display: flex;
  align-items: flex-end;
}

.container .container-top .profile:hover{
  gap: 15px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  background-color: #090909;
  border-radius: 25px;
}


.container .container-top .profile img {
  background-color: #ffffff;
  width: 80px;
  border-radius: 50px;
  padding: 5px;
}

/* ====================================== */
.kpis {
  display: flex;
  width: 90%;
  justify-content: space-around;
  color: black;
}
.kpis .kpi {
  background-color: #d9d9d9;
  padding: 15px 25px;
  border-radius: 20px;
}
.kpis .kpi div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graficos {
  /* align-items: ; */
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 60%;
  /* align-items: center; */
}
.graficos div {
  gap: 10px;
  /* width: 45%; */
  justify-content: flex-end;
  padding: 30px;
  /* background-color: white; */
}

.graficos div h1 {
  /* text-decoration: underline; */
}
canvas {
  background-color: #d9d9d9;
  border-radius: 25px;
  padding: 10px;
}
.buff {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 25px;
  width: 100%;
}
.buff img {
  height: 100px;
}
.grafico-linha {
  width: 55%;
}
.graifico-pie {
  height: 100%;
  width: 30%;
}

.graifico-pie h1{
  width: 100%;
}

.modal{
  /* display: flex; */
  position: absolute;

  align-self: center;
  justify-self: center;
}
