@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Spectral";
  box-sizing: border-box;
}
header {
  display: flex;
  /* position: fixed; */
  gap: auto;
  width: 100%;
  justify-content: space-between;

  background-color: black;
  padding: 0 20px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header ul a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
header ul a:hover {
  text-decoration: underline;
  color: #cf3634;
}

.container-banner {
  background-image: url(../assets/images/Banner.png);
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-banner div img {
  /* height: 200px; */
}

.o-que-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 50px;
  color: white;
  background-image: url(../assets/images/background-template2.png);
  background-position: center;
  background-size: cover;
}
h1 {
  margin-top: 150px;
}
.o-que-e div {
  gap: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 150px;
}

.como-jogar {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
  background-image: linear-gradient(0deg, black, #0f0002);
  color: white;
}
.como-jogar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 20px;
  margin-bottom: 80px;
}
.como-jogar .textos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.sobre-jogo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/menu-background.png);
  background-size: cover;
  color: white;
  gap: 70px;
}
p {
  font-size: 24px;
}
.sobre-jogo h2 {
  font-size: 24px;
  border-bottom: 2px white solid;
}
.sobre-jogo .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sobre-jogo .icons {
  display: flex;
  gap: 10px;
}
.sobre-jogo .icons img {
  height: 40px;
}

.sobre-jogo .informacoes {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}
.sobre-jogo .portrait {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  /* background-color: rgb(85, 66, 66); */
}
.sobre-jogo .portrait img {
  width: 100%;
}

.sobre-jogo .informacoes .textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.supergiantilogo {
  width: 40px;
}

h1 {
  font-size: 40px;
}

.informacoes-deus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.olimpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: url(../assets/images/background-olimpo.png);
  background-size: cover;
  background-position: top;
}
.olimpo .container-deus {
  width: 80%;
  display: flex;
  gap: 20px;
  background-image: linear-gradient(45deg, #413a2c, #a79571);
  border-radius: 15px;
  border: solid black 2px;
  margin-bottom: 150px;
}
.informacoes-deus .imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 600px; */
  margin: 10px 10px;
  /* width: 30%; */
  border: solid black 2px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #000000, #4e4e4c);
  /* background-color: #ffa301; */
  overflow: hidden;
  color: white;
  transition: ease-in 0.3s;
}
.informacoes-deus .imagem:hover {
  transform: scale(1.03);
  filter: brightness(1.05);
}
.informacoes-deus .imagem h2 {
  border-bottom: 2px solid white;
}
.informacoes-deus .imagem img {
  height: 500px;
}
.informacoes-deus p {
  margin-left: 20px;
  padding: 20px;
  width: 50%;
  border-left: black solid 4px;
}

select {
  height: 50px;
  /* width: 250px; */
  font-size: 18px;
  font-weight: bold;
  border: solid black 3px;
  background-color: white;
  border-radius: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px #deba52;
  background-color: #0f0002;
}
footer img {
  height: 35px;
}
footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .informacoes {
  display: flex;
  flex-direction: column;
}
footer .assinatura {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .assinatura p {
  font-size: 16px;
  color: white;
}

.ancoras {
  gap: 10px;
}

button {
  width: 250px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  transition: ease-in-out 0.4s;
}
button:hover {
  transform: scale(1.1);
  filter: brightness(1.05);
  background-color: #cf3634;
  color: white;
  cursor: pointer;
}
