@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Spectral";
}

body {
  display: flex;
  height: 100vh;
}

/* =====TELA BATALHA ===== */
.telaBatalha {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* =====TELA BATALHA ===== */
/* ==== ZAGREUS ==== */
.telaBatalha .zagreus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.telaBatalha .zagreus-status {
  color: white;
  background-color: #4e4e4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px black;
}
.telaBatalha .zagreus-status h4 {
  border-bottom: solid 3px black;
}

.telaBatalha .zagreus-status img {
  height: 300px;
}
.telaBatalha .zagreus-status .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.telaBatalha .zagreus .botoes {
  display: flex;
  flex-direction: row;
  gap: 50px;
  transition: ease-in-out 0.3s;
}
.telaBatalha .zagreus .botoes button {
  color: white;
  transition: ease-in-out 0.3s;
  background-image: linear-gradient(0deg, black, #3c4137);
  border: black 3px solid;
}
.telaBatalha .zagreus .botoes button:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(1.3);
}
.telaBatalha .zagreus .botoes img {
  height: 100px;
}
/* ==== ZAGREUS ==== */

/* ==== STATUS CORRIDA ===== */
.status-corrida {
  display: flex;
  gap: 20px;
}
.status-corrida div {
  display: flex;
}
/* ==== INIMIGOS ===== */
.inimigo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.inimigo .ataque-inimigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 10px 0;
}
.inimigo .ataque-inimigo div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inimigo .ataque-inimigo img {
  height: 100px;
  width: 100px;
}
.inimigo img {
  width: 210px;
}
.inimigo .status-inimigo {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid;
}
/* ==== INIMIGOS ===== */

#div_portas {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.porta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.porta img {
  height: 100px;
}

.boons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boons .container-boons {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.boons .boon-1 {
  display: flex;
  width: 100%;
  border: solid #afaa97 3px;
  gap: 50px;
  background-image: linear-gradient(45deg, black, #727272);
  color: white;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.boons .boon-1 h2 {
  font-size: 30px;
}
.boons .boon-1 p {
  font-size: 20px;
}
.boons .boon-1 .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.boons .boon-1:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
  box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -webkit-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -moz-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  cursor: pointer;
}
.boons button .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boons .boon-2 {
  display: flex;
  width: 100%;
  border: solid #afaa97 3px;
  gap: 50px;
  background-image: linear-gradient(45deg, black, #727272);
  color: white;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.boons .boon-2 h2 {
  font-size: 30px;
}
.boons .boon-2 p {
  font-size: 20px;
}
.boons .boon-2 .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.boons .boon-2:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
  box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -webkit-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -moz-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  cursor: pointer;
}
.boons .boon-3 {
  display: flex;
  width: 100%;
  border: solid #afaa97 3px;
  gap: 50px;
  background-image: linear-gradient(45deg, black, #727272);
  color: white;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.boons .boon-3 h2 {
  font-size: 30px;
}
.boons .boon-3 p {
  font-size: 20px;
}
.boons .boon-3 .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.boons .boon-3:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
  box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -webkit-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  -moz-box-shadow: 0px 0px 28px 5px rgba(203, 225, 127, 0.83) inset;
  cursor: pointer;
}

.container-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-central .logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.finalizacao {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}
.finalizacao .container-finalizacao {
  color: white;
  background-color: #343331;
  border: solid #afaa97;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 70%;
  border-radius: 15px;
  justify-content: center;
  gap: 10px;
}
.finalizacao .container-finalizacao .textos {
  display: flex;
  flex-direction: column;
}
.finalizacao .container-finalizacao div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 18px;
}
.finalizacao .container-finalizacao button {
  width: 150px;
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
  color: black;

  cursor: pointer;
}
.finalizacao .container-finalizacao button:hover {
  transform: scale(1.05);
}

#div_portas {
  display: flex;
  gap: 40px;
}

#button_porta1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #6e6e6d;
  height: 100%;
  z-index: 2;
  transition: 0.5s ease-in-out;
  width: 100%;
}
#button_porta1 {
  height: 350px;
  width: 250px;
  overflow: hidden;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#button_porta1:hover div {
  margin-top: -500px;
  cursor: pointer;
}
#p_descricaoPorta1 {
  z-index: 1;
  position: absolute;
  /* width: 100%; */

  text-align: center;
}

#button_porta2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #6e6e6d;
  height: 100%;
  z-index: 2;
  transition: 0.5s ease-in-out;
  width: 100%;
}
#button_porta2 {
  height: 350px;
  width: 250px;
  overflow: hidden;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#button_porta2:hover div {
  margin-top: -500px;
  cursor: pointer;
}
#p_descricaoPorta2 {
  z-index: 1;
  position: absolute;
  /* width: 100%; */

  text-align: center;
}

#button_porta3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #6e6e6d;
  height: 100%;
  z-index: 2;
  transition: 0.5s ease-in-out;
  width: 100%;
}
#button_porta3 {
  height: 350px;
  width: 250px;
  overflow: hidden;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#button_porta3:hover div {
  margin-top: -500px;
  cursor: pointer;
}
#p_descricaoPorta3 {
  z-index: 1;
  position: absolute;
  /* width: 100%; */

  text-align: center;
}
